node_modules

# Build outputs
dist/
.next/
out/
dist-repo-variants/

# Logs
logs/
*.log
apps/brickslab_catalog/public/data/

# Env files
.env
.env.local
.env*.local

# OS / Editor
.DS_Store
.vscode/

# pnpm
.pnpm-store/
